{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
    <p><img class="rounded-circle account-img"
    src="{{user.profile.user_photo.url}}"></p>
    <div class="media-body">
    <h2 class="account-heading">Profile for: {{user.username}}</h2>
    <p class="text-secondary">Username: {{user.username}}</p>
    <p class="text-secondary">User Email: {{user.email}}</p>
    <p class="text-secondary">Full Name: {{user.profile.full_name}}</p>
    <p class="text-secondary">Date of Birth: {{user.profile.date_of_birth}}</p>
    <p class="text-secondary">Address: {{user.profile.address}}</p>
    <p class="text-secondary">City: {{user.profile.city}}</p>
    <p class="text-secondary">Country: {{user.profile.country}}</p>
    </div>
    </div>
    </div>
{% endblock content %}